public-hoist-pattern[]=next-intl
public-hoist-pattern[]=@dnd-kit/*
public-hoist-pattern[]=@radix-ui/*
public-hoist-pattern[]=@tanstack/*
public-hoist-pattern[]=recharts
public-hoist-pattern[]=sonner
public-hoist-pattern[]=vaul
public-hoist-pattern[]=zod
